.photo-ab{
    width: 90%;
    box-shadow: 8px 5px 5px grey;
}
.header-ab{
    text-align: center;
}
.about{
    padding: 0;
    margin: 0;
    padding: 6% 8% 10% 8%;
    font-family: 'Montserrat', sans-serif;
}
.text-ab{
    line-height: 3;
    text-align: left;
    font-size: 1.2rem;
}
.join{
    width: 100%;
    align-items: center;
}
.about-text .log{
    width: 30%;
}
@media(max-width: 990px){
    .about-text{
        margin-top: 50px;
    }
    .photo-ab{
        width: 100%;
    }
    .header-ab{
        text-align: center;
        width: 100%;
    }
    .text-ab{
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 1200px){
    .photo-ab{
        width: 100%;
    }

}
@media (max-width: 1300px){
    .text-ab{
        font-size: 0.9rem;
    }
}